
<blockquote>
  <img src="http://www.gravatar.com/avatar/HASH" />
  <p><%= comment.body %></p>
  <small>@<%= comment.commenter %></small>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</blockquote>
